# For normal use
# NEXT_PUBLIC_SUPABASE_URL=your_database_url_here
# NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_publishable_key_here
# SUPABASE_SERVICE_ROLE_KEY=your_supabase_database_service_role_key_here

# For Cypress E2E testing
# CYPRESS_TEST_ADMIN=true
# NEXT_PUBLIC_CYPRESS_TEST_ADMIN=true
# NEXT_PUBLIC_SUPABASE_URL=your_test_database_url_here
# NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_test_publishable_key_here
# SUPABASE_SERVICE_ROLE_KEY = your_supabase_test_database_service_role_key_here
