.song-page {
  text-align: center;
  width: min(1200px, 100%);
}

.song-page h1 {
  text-align: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 0px;
  font-size: xx-large;
}

.song-page pre {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
}

.song-page #arrow-back {
  position: absolute;
  top: 100px;
  left: 20px;
  cursor: pointer;
}

.song-page #forfatter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

@media (max-width: 450px) {
  #arrow-back span {
    display: none;
  }
}
