body {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: 'DINOT', georgia;
}

main {
  position: relative;
  width: min(1200px, 100%);
}

h1 {
  text-align: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 0px;
  font-size: xx-large;
}

pre {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 30px;
}

#arrow-back {
  position: absolute;
  top: 100px;
  left: 20px;
  cursor: pointer;
}

#forfatter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

@media (max-width: 450px) {
  #arrow-back span {
    display: none;
  }
}
